.detail__product--container {
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 70px;
}

.detail__product--navbar {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}

.detail__product--navbar__title {
    width: 100%;
    text-align: center;
}
.detail__product--navbar__product {
   display: flex;
   width: 100%;
    gap: 10px; /* Thêm khoảng cách giữa các cột nếu cần */
}
.detail__product--navbar__filter{
    
}

.detail__product--navbar__product--filter{
    position: sticky;
    top: 100px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.detail__product--navbar__product--items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, .333333fr));
    gap: 15px;
}
.detail__product--navbar__items ,.detail__product--navbar__product--filter{
    border-radius: 13px;
}
.detail__product--navbar__items {
    background-color: rgb(156, 156, 156);
    gap: 20px;
    max-height: 385px;
    display:inherit;
}

.detail__product--navbar__items--image {
    min-height: 254px
}

.detail__product--navbar__product--inf {
    max-height: 60px;
}

.detail__product--navbar__product--type,
.detail__product--navbar__product--desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    line-height: 24px;
}
.detail__product--navbar__product--type{
    max-height: 20px;
}
.detail__product--navbar__product--desc{
    min-height: 40px;
}