@import "../../style.css";
body{
    width: 100%;
    max-width: 100vw;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--color-background-6);
}
/* width */
::-webkit-scrollbar {
    width: 11px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-background-6);
   
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(17, 24, 28, 0.7);
    border-radius: 50px;
    border: 1px solid var(--color-background-6);
  }
  

.head__logo{
    width: 220px;
    padding: 10px 0 7px 0;

}
.head__navbar{
    display: flex;
}
.head__navbar a{
    color: var(--color-background-28) !important;
    text-transform: uppercase;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.head__navbar a:nth-child(2) span{
    font-size: 1.4rem;
    font-weight: 600;
}
.head__navbar a:nth-child(1) span{
    font-size: 1.2rem;
    font-weight: 600;
}
.head__navbar a ion-icon{
    margin-right: 10px;
    font-size: 1.5rem;
}


.home__summer--relative{
    margin-top: 64px;
}
.home__summer--relative,
.home__summer--relative a,
.home__summer--relative a img{
    width: 100%;
}

.home__summer--discover,
.home__summer--menu{
    width: 100%;
}
.home__summer--discover img,
.home__summer--menu img{
    width: 100%;
}
.home__summer--discover .home__summer--discover__container,
.home__summer--menu .home__summer--menu__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__summer--menu .home__summer--menu__container .home__summer--menu__box--content{
    background: var(--color-background-29);
    display: flex;
    max-width: 1280px;
    width: 100%;
    border-radius: 999px;
    padding: 5px;
    gap: 6px;
    margin: 55px 0 25px 0 ;
}
.home__summer--menu .home__summer--menu__container .home__summer--menu__box--content a{
    display: flex;
    width: 50%;
    max-width: 50%;
    text-transform: uppercase;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    font-size: 1.55rem;
    border-radius: 999px;
    line-height: 35px;
}
.home__summer--menu .home__summer--menu__container .home__summer--menu__box--content a:nth-child(1){
    background: var(--color-background-28);
    color: var(--color-background-6);
}
.home__summer--menu .home__summer--menu__container .home__summer--menu__box--content a:nth-child(2){
    color: var(--color-background-27);
}
.home__summer--menu .home__summer--menu__container .home__summer--menu__box--content a:nth-child(2):hover{
    color: var(--color-background-6);
    background: var(--color-background-27);
}
.home__summer--menu .home__summer--menu__container .home__summer--menu__box--content a span:nth-child(1){
    font-weight: 700;
}
.home__summer--menu .home__summer--menu__container .home__summer--menu__box--content a span:nth-child(2){
    font-weight: 800;
}


.home__summer--discover .home__summer--discover__container{
    background: var(--color-background-37);
    margin: -4px 0 -2px 0;
}
.home__summer--discover .home__summer--discover__container .home__summer--discover__box--content{
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0 25px 0;
}
.home__summer--discover .home__summer--discover__container .home__summer--discover__box--content__item:nth-child(1){
    width: 46%;
}
.home__summer--discover .home__summer--discover__container .home__summer--discover__box--content__item:nth-child(2){
    width: 49%;
}
.home__summer--discover .home__summer--discover__container .home__summer--discover__box--content__item:nth-child(2) img{
    width: 100%;
    border: 10px solid var(--color-background-28);
}
.home__summer--discover .home__summer--discover__container .home__summer--discover__box--content__item p{
    color: var(--color-background-27);
}
.home__summer--discover .home__summer--discover__container .home__summer--discover__box--content__item p:nth-child(1){
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 35px;
}
.home__summer--discover .home__summer--discover__container .home__summer--discover__box--content__item p:nth-child(2){
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.home__summer--discover .home__summer--discover__container .home__summer--discover__box--content__item a{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: var(--color-background-27);
    float: right;
}
.home__summer--discover .home__summer--discover__container .home__summer--discover__box--content__item:nth-child(2) img{
    width: 100%;
}