<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VUS - Super Summer 2024</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/images/favicon_192.png"
    />
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="../assets/css/home-summer.css" />
  </head>
  <body>
    <header class="shadow">
      <div class="head__logo">
        <img src="/assets/images/img1.svg" alt="img" />
      </div>
      <div class="head__navbar">
        <a href="#">
          <ion-icon name="home-outline"></ion-icon>
          <span>trang chủ</span>
        </a>
        <a href="#">
          <ion-icon name="call"></ion-icon>
          <span>(028) 7308 3333</span>
        </a>
      </div>
    </header>
    <main>
      <!-- banner home relative  -->
      <section class="home__summer--relative">
        <a href="#">
          <img src="/assets/images/img04.png" alt="img__home" />
        </a>
      </section>
      <!-- banner home menu  -->
      <section class="home__summer--menu">
        <div class="home__summer--menu__container">
          <div class="home__summer--menu__box--content">
            <a href="#">
              <span>Khóa học tiếng Anh hè</span>
              <span>dành cho trẻ từ 6-11 tuổi</span>
            </a>
            <a href="#">
              <span>Khóa học tiếng Anh hè</span>
              <span>dành cho trẻ từ 11-15 tuổi</span>
            </a>
          </div>
        </div>
        <img src="/assets/images/img05.png" alt="img" />
      </section>
      <!-- banner home discover  -->
      <section class="home__summer--discover">
        <div class="home__summer--discover__container">
          <div class="home__summer--discover__box--content">
            <div class="home__summer--discover__box--content__item">
              <p>Bố mẹ thân mến,</p>
              <p>
                Với mong muốn mang đến nguồn cảm hứng vô tận trên hành trình học
                hỏi và cùng con trở thành một công dân toàn cầu thế hệ mới,
                chương trình tiếng Anh hè Super Summer 2024 sẽ là nơi con bước
                vào hành trình xuyên Việt để trau dồi Anh ngữ qua 8 tuần trải
                nghiệm chỉ có tại VUS!
              </p>
              <a href="#">Cùng khám phá ngay!</a>
            </div>
            <div class="home__summer--discover__box--content__item">
              <img src="/assets/images/img06.png" alt="img" />
            </div>
          </div>
        </div>
        <img src="/assets/images/img-discover.png" alt="img" />
      </section>
      <!-- banner home discover  -->
      <section class="home__summer--discover happy">
        <div class="home__summer--discover__container">
          <div class="home__summer--discover__container--header">
            <img src="/assets/images/heading_blue.svg" alt="img" />
            <p>
              <span>HỌC TIẾNG ANH HÈ </span
              ><span>VỚI HÀNG LOẠT CÁC TRẢI NGHIỆM</span>
            </p>
          </div>
          <img src="/assets/images/text_chi_co_supersummer.svg" alt="img" />
          <div class="home__summer--discover__box--content">
            <div class="home__summer--discover__box--content__item">
              <div class="home__summer--discover__box--content__item--text">
                <p><ion-icon name="caret-forward-outline"></ion-icon></p>
                <p>
                  Cho con nuôi dưỡng tình yêu thiên nhiên và tự hào về văn hóa -
                  truyền thống thông qua việc học tiếng Anh từ các chủ đề phong
                  phú về đất nước, con người Việt Nam.
                </p>
              </div>
              <div class="home__summer--discover__box--content__item--text">
                <p><ion-icon name="caret-forward-outline"></ion-icon></p>
                <p>
                  Con tự tin giao tiếp tiếng Anh thông qua môi trường học sống
                  động, ứng dụng đa phương tiện cùng hoạt động thuyết trình,
                  thảo luận nhóm, nhập vai,...
                </p>
              </div>
              <div class="home__summer--discover__box--content__item--text">
                <p><ion-icon name="caret-forward-outline"></ion-icon></p>
                <p>
                  Chương trình tiếng anh cho bé sinh động, trực quan hơn thông
                  qua dự án thực hành sáng tạo như khảm tranh Mosaic, làm nến
                  thơm từ vỏ sò,...
                </p>
              </div>
              <div class="home__summer--discover__box--content__item--text">
                <p><ion-icon name="caret-forward-outline"></ion-icon></p>
                <p>
                  Con năng động hơn qua các hoạt động thể chất kết hợp học tiếng
                  Anh từ những chuyến dã ngoại ngoài trời đậm bản sắc dân gian
                  Việt Nam.
                </p>
              </div>
            </div>
            <div class="home__summer--discover__box--content__item">
              <img src="/assets/images/vui_he_sieu_viet.png" alt="img" />
            </div>
          </div>
        </div>
      </section>
      <!-- banner home programme -->
      <section class="home__summer--programme">
        <div class="home__summer--programme__container">
            <div class="home__summer--programme__content">
                <div class="home__summer--programme__header">
                <div class="home__summer--programme__header--item">
                    <img src="/assets/images/tuan_kham_pha.png" alt="img" />
                </div>
                <div class="home__summer--programme__header--item">
                    <img src="/assets/images/chang_1.svg" alt="img" />
                    <p>TỪ 03.06 ĐẾN 28.06</p>
                </div>
                <div class="home__summer--programme__header--item">
                    <p>
                    Bé học tiếng Anh thông qua việc khám phá vẻ đẹp tự nhiên độc
                    đáo của đất nước.
                    </p>
                </div>
                </div>
                <div class="home__summer--programme__detail">
                <div class="home__summer--programme__detail--item">
                    <img src="/assets/images/img10.png" alt="img" />
                    <div class="home__summer--programme__detail--item__text">
                    <p>TUẦN 1 | GEOGRAPHIC GRACE</p>
                    <p>RỪNG VÀNG BIỂN BẠC</p>
                    </div>
                </div>
                    <div class="home__summer--programme__detail--item">
                    <img src="/assets/images/img11.png" alt="img" />
                    <div class="home__summer--programme__detail--item__text">
                        <p>TUẦN 2 | BOTANICAL BEAUTIES</p>
                        <p>VẺ ĐẸP CỎ CÂY</p>
                    </div>
                    </div>
                    <div class="home__summer--programme__detail--item">
                    <img src="/assets/images/img12.png" alt="img" />
                    <div class="home__summer--programme__detail--item__text">
                        <p>TUẦN 3 | WILDLIFE WONDERS</p>
                        <p>MUÔN THÚ HỘI TỤ</p>
                    </div>
                    </div>
                    <div class="home__summer--programme__detail--item">
                    <img src="/assets/images/img13.png" alt="img" />
                    <div class="home__summer--programme__detail--item__text">
                        <p>TUẦN 4 | WEATHER WISDOM</p>
                        <p>BỐN MÙA THÔNG THÁI</p>
                    </div>
                    </div>
                </div>
            </div>
            <img class="home__summer--programme__content--center" src="/assets/images/img09.png" alt="img">
            <div class="home__summer--programme__content">
                    <div class="home__summer--programme__header">
                    <div class="home__summer--programme__header--item">
                        <img src="/assets/images/chang_trai_nghiem.png" alt="img" />
                    </div>
                    <div class="home__summer--programme__header--item">
                        <img src="/assets/images/chang_2.svg" alt="img" />
                        <p>TỪ 01.07 ĐẾN 25.0</p>
                    </div>
                    <div class="home__summer--programme__header--item">
                        <p>
                            Bé phát triển từ vựng, tự tin nói tiếng Anh về các lễ hội, văn hóa và giá trị tinh thần của người Việt nam.
                        </p>
                    </div>
                    </div>
                    <div class="home__summer--programme__detail">
                    <div class="home__summer--programme__detail--item">
                        <img src="/assets/images/img14.png" alt="img" />
                        <div class="home__summer--programme__detail--item__text">
                        <p>TUẦN 5 | AMAZING ARTS</p>
                        <p>NGHỆ THUẬT DIỆU KỲ</p>
                        </div>
                    </div>
                        <div class="home__summer--programme__detail--item">
                        <img src="/assets/images/img15.png" alt="img" />
                        <div class="home__summer--programme__detail--item__text">
                            <p>TUẦN 6 | DAILY DELIGHTS</p>
                            <p>NHỊP SỐNG ĐA SẮC</p>
                        </div>
                        </div>
                        <div class="home__summer--programme__detail--item">
                        <img src="/assets/images/img16.png" alt="img" />
                        <div class="home__summer--programme__detail--item__text">
                            <p>TUẦN 7 | FOOD FESTIVE</p>
                            <p>LỄ HỘI ẨM THỰC</p>
                        </div>
                        </div>
                        <div class="home__summer--programme__detail--item">
                        <img src="/assets/images/img17.png" alt="img" />
                        <div class="home__summer--programme__detail--item__text">
                            <p>TUẦN 8 | TIME-HONORED TRADITIONS</p>
                            <p>NGƯỢC DÒNG THỜI GIAN</p>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
      </section>
      <!-- banner home form -->
      <section class="home__summer--form">
            <div class="home__summer--form__container">
                <div class="home__summer--form__content">
                    <img src="/assets/images/img-sale.png" alt="img">
                </div>
                <form class="home__summer--form__content">
                    <div class="home__summer--form__content--item">
                        <label for="">họ và tên phụ huynh </label>
                        <input type="text">
                    </div>
                    <div class="home__summer--form__content--item">
                        <label for="">họ và tên bé</label>
                        <input type="text">
                    </div>
                    <div class="home__summer--form__content--item">
                        <label for="">điện thoại</label>
                        <input type="text">
                    </div>
                    <p>Bé có đang là học viên tại VUS?</p>
                    <div class="home__summer--form__content--item checkbox">
                        <div class="home__summer--form__content--item__check">
                            <input type="radio"><span>có</span>
                        </div>
                        <div class="home__summer--form__content--item__check">
                            <input type="radio"><span>không</span>
                         </div>
                    </div>
                    <button>Đăng Ký Ngay <ion-icon name="caret-forward-circle-outline"></ion-icon></button>
                    <p class="home__summer--form__note">
                        Bằng việc đăng ký thông tin, bạn đồng ý cho phép VUS liên lạc thông
                        qua các hình thức: cuộc gọi, tin
                        nhắn, email nhằm mục đích tư vấn các chương trình Anh ngữ & nghiên
                        cứu thị trường.
                    </p>
                </form>
            </div>
      </section>
      <!-- banner home camping -->
       <section class="home__summer--camping">
        <div class="home__summer--camping__header">
            <p>CHO CON THAM GIA TRẠI HÈ TIẾNG ANH <br> NGOÀI LỚP HỌC</p>
            <img src="/assets/images/vietnam_phieu_luu_ky.svg" alt="img">
        </div>
        <div class="home__summer--camping__container">
            <div class="home__summer--camping__content">
                <div class="home__summer--camping__content--item">
                    <img src="/assets/images/heading_title_yellow.svg" alt="img">
                    <p>BUỔI 1: CHU DU ĐẾN LÀNG QUÊ VIỆT</p>
                    <p>Trải nghiệm cuộc sống đồng quê, hòa mình vào các hoạt động thường nhật của những người nông dân chân phương:</p>
                    <ul>
                        <li>- Trổ tài trồng lúa</li>
                        <li>- Cao thủ bắt cá</li>
                        <li>- Vũ điệu tắm mưa</li>
                        <li>- Chèo xuồng ba lá</li>
                    </ul>
                </div>
                <div class="home__summer--camping__content--item">
                    <img src="/assets/images/img19.png" alt="img">
                </div>
            </div>
            <div class="home__summer--camping__content">
                <div class="home__summer--camping__content--item">
                    <img src="/assets/images/img20.png" alt="img">
                </div>
                <div class="home__summer--camping__content--item">
                    <img src="/assets/images/heading_title_blue.svg" alt="img">
                    <p>BUỔI 2: TRẨY HỘI XUYÊN VIỆT</p>
                    <p>Tham gia vào các trò chơi đậm bản sắc văn hóa của bốn miền đất nước:</p>
                    <ul>
                        <li>- Gánh muối về làng</li>
                        <li>- Múa võ Bình Định</li>
                        <li>- Ném còn đập niêu</li>
                        <li>- Trí nhớ của ta đây</li>
                    </ul>
                    <p>* Thưởng thức đặc sản vùng miền độc đáo!</p>
                </div>
            </div>
        </div>
        <div class="home__summer--camping__end">
            <img src="/assets/images/waves_phuongphap.png" alt="img">
        </div>
       </section>
       <!-- banner home method -->
       <section class="home__summer--method">
        <div class="home__summer--method__header">
            <img src="/assets/images/phuong_phap.svg" alt="img">
            <p>HỌC TIẾNG ANH HIỆU QUẢ CHO THIẾU NHI</p>
        </div>
        <div class="home__summer--method__container">
            <div class="home__summer--method__content">
                <div class="home__summer--method__item">
                    <div class="home__summer--method__item--text">
                        <p>KẾT NỐI</p>
                        <p>Đặt câu hỏi, khơi gợi sự tò mò giúp bé tư duy bằng tiếng Anh.<br>
                        Tham gia trò chơi tương tác: Tạo hứng thú cho con học từ vựng tiếng Anh.</p>
                    </div>
                    <div class="home__summer--method__item--img">
                        <img src="/assets/images/ket_noi.png" alt="img">
                    </div>
                </div>
                <div class="home__summer--method__item">
                    <div class="home__summer--method__item--text">
                        <p>KHÁM PHÁ</p>
                        <p>Tiếp cận nội dung tiếng Anh cho trẻ em thông qua tư liệu thực tế, hình ảnh, video,... trực quan - sống động.</p>
                    </div>
                    <div class="home__summer--method__item--img">
                        <img src="/assets/images/kham_pha.png" alt="img">
                    </div>
                </div>
                <div class="home__summer--method__item">
                    <div class="home__summer--method__item--text">
                        <p>TRẢI NGHIỆM</p>
                        <p>Cho bé tăng cường nói tiếng Anh, phát triển kỹ năng làm việc nhóm qua các hoạt động thực hành đóng vai, sáng tạo dự án theo chủ đề.</p>
                    </div>
                    <div class="home__summer--method__item--img">
                        <img src="/assets/images/trai_nghiem.png" alt="img">
                    </div>
                </div>
                <div class="home__summer--method__item">
                    <div class="home__summer--method__item--text">
                        <p>MỞ RỘNG</p>
                        <p>Mở rộng vốn từ tiếng Anh cho trẻ qua các buổi thảo luận nhóm, ôn tập cùng Trợ giảng.</p>
                    </div>
                    <div class="home__summer--method__item--img">
                        <img src="/assets/images/mo_rong.webp" alt="img">
                    </div>
                </div>
            </div>
        </div>
       </section>
       <!-- banner home prize -->
       <section class="home__summer--prize">
            <div class="home__summer--prize__start">
                <img src="/assets/images/heading_red.svg" alt="img">
                <p>CÙNG TRANH TÀI VÀ CHINH PHỤC CHỨC VÔ ĐỊCH TẠI</p>
            </div>
            <div class="home__summer--prize__header">
                <p>CUỘC THI TIẾNG ANH HÈ QUY MÔ TOÀN QUỐC!</p>
                <img src="/assets/images/vietnam_english_championship.svg" alt="img">
                <p>Vòng loại chính thức diễn ra từ ngày 10/06/2024</p>
            </div>
            <div class="home__summer--prize__container">
                <div class="home__summer--prize__content">
                    <div class="home__summer--prize__content--item">
                        <img src="/assets/images/clip_pin.png" alt="img">
                        <div class="home__summer--prize__content--item__text">
                            <p>Đến với cuộc thi TIẾNG ANH THIẾU NHI này trong mùa hè, con sẽ được:</p>
                            <ul>
                                <li>- So tài thể hiện khả năng Anh ngữ.</li>
                                <li>- Trau dồi kiến thức qua loạt câu hỏi được lấy chất liệu từ đa dạng lĩnh vực, chủ đề.</li>
                                <li>- Ứng dụng tư duy và các kỹ năng học tập trong lớp ra thực tế.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="home__summer--prize__content--item">
                        <img src="/assets/images/co_hoi_so_huu.svg" alt="img">
                    </div>
                </div>
                <div class="home__summer--prize__content">
                    <img src="/assets/images/img21.png" alt="img">
                </div>
            </div>
            <div class="home__summer--prize__end">
                <img src="/assets/images/digi_waves.png" alt="img">
            </div>
       </section>
       <!-- banner home digi -->
       <section class="home__summer--digi" style="background: url(/assets/images/img22.png) center center no-repeat;background-size: cover;">
            <div class="home__summer--digi__header">
                <div class="home__summer--digi__header--item">
                    <img src="/assets/images/digi_camp.png" alt="img">
                    <img src="/assets/images/digi_vr.png" alt="img">
                </div>
                <div class="home__summer--digi__header--item">
                    <img src="/assets/images/digi_heading.png" alt="img">
                    <p>HÈ VUI SÁNG TẠO - THÀNH THẠO AI</p>
                </div>
                <div class="home__summer--digi__header--item">
                    <p>Dành cho học viên từ 7 - 16 tuổi</p>
                </div>
            </div>
            <div class="home__summer--digi__container">
                <div class="home__summer--digi__content">
                    <div class="home__summer--digi__item">
                        <p>Nhà sáng tạo nội dung số</p>
                        <div class="home__summer--digi__item--icon">
                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                        </div>
                        <p>Thành thục kỹ năng lên kịch bản, thiết kế, chỉnh sửa để sáng tạo ra các nội dung số như Website, Video,...</p>
                    </div>
                    <div class="home__summer--digi__item">
                        <p>Phát triển trò chơi</p>
                        <div class="home__summer--digi__item--icon">
                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                        </div>
                        <p>Thiết kế nhân vật, phát triển luật chơi và những câu lệnh để tạo ra những trò chơi bổ ích và sáng tạo.</p>
                    </div>
                    <div class="home__summer--digi__item">
                        <p>Thiết lập thế giới thực tế ảo</p>
                        <div class="home__summer--digi__item--icon">
                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                        </div>
                        <p>Thiết kế & lập trình thế giới trong môi trường 3D và thực tế ảo.</p>
                    </div>
                </div>
                <div class="home__summer--digi__content">
                    <div class="home__summer--digi__item">
                        <img src="/assets/images/tim_hieu_cong_nghe.png" alt="img">
                    </div>
                    <div class="home__summer--digi__item">
                        <img src="/assets/images/chat_gpt.png" alt="img">
                        <img src="/assets/images/hatchxr.png" alt="img">
                        <img src="/assets/images/bsd.png" alt="img">
                        <img src="/assets/images/dalle_ai.png" alt="img">
                        <img src="/assets/images/canva.png" alt="img">
                        <img src="/assets/images/piskeapp.png" alt="img">
                        <img src="/assets/images/ar_vr.png" alt="img">
                    </div>
                </div>
                <div class="home__summer--digi__content">
                    <img src="/assets/images/img23.png" alt="img">
                </div>
            </div>
       </section>
    </main>
  </body>
</html>
