<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUS Anh Văn Hội Việt Mỹ</title>
    <link rel="stylesheet" href="../assets/css/home_index.css">
</head>

<body>
    <header class="home_header_wrapper">
        <div class="home_header_container">
            <div class="home_header_logo">
                <img src="../assets/images/home_logo.svg" alt="">
            </div>
            <ul class="home_header_nav">
                <li class="home_header_nav_link">
                    <a href="#" title="SUPER SUMMER 2024!">
                        <span class="home_link"><i></i>
                            SUPER SUMMER 2024!</span>

                    </a>
                </li>
                <li class="home_header_nav_tel">
                    <a href="#">
                        <span class="home_tel">(028) 7308 3333</span>
                    </a>

                </li>
            </ul>
        </div>
    </header>

    <main>
        <section class="home_banner_ads">
            <div class="home_banner_ads_wrapper">
                <a href="">
                    <img src="../assets/images/home_04.png" alt="">
                </a>
            </div>
        </section>
        <section class="home_banner_2">
            <div class="home_banner_2_inner middle_content">
                <div class="clear_space_25"></div>
                <div class="clear_space_25"></div>
                <div>
                    <h2 class="home_banner_2_inner_title">
                        ĐÁP ỨNG ĐA DẠNG LÝ DO<br>
                        HỌC TIẾNG ANH
                    </h2>
                </div>
            </div>
            <div class="clear_space_25"></div>
            <div class="clear_space_25"></div>

            <div class="home_banner_2_reason middle_content">
                <!-- Item -->
                <div class="home_banner_2_reason_item">
                    <div class="home_banner_2_reason_title">
                        THI CHỨNG CHỈ CAMBRIDGE
                    </div>
                    <div class="home_banner_2_reason_desc">
                        Học sinh tiểu học, THCS thi chứng chỉ Starters, Movers, Flyers, KET, PET… xét tuyển trường
                        chuyên, lớp tăng cường…
                    </div>
                </div>

                <div class="home_banner_2_reason_item">
                    <div class="home_banner_2_reason_title">
                        LẤY LẠI CĂN BẢN TIẾNG ANH
                    </div>
                    <div class="home_banner_2_reason_desc">
                        Học tiếng Anh cho người mất gốc để lấy lại căn bản tiếng Anh.
                    </div>
                </div>

                <!-- Item -->
                <div class="home_banner_2_reason_item">
                    <div class="home_banner_2_reason_title">
                        THI CHỨNG CHỈ CAMBRIDGE
                    </div>
                    <div class="home_banner_2_reason_desc">
                        Học sinh tiểu học, THCS thi chứng chỉ Starters, Movers, Flyers, KET, PET… xét tuyển trường
                        chuyên, lớp tăng cường…
                    </div>
                </div>
                <div class="home_banner_2_reason_item">
                    <div class="home_banner_2_reason_title">
                        LẤY LẠI CĂN BẢN TIẾNG ANH
                    </div>
                    <div class="home_banner_2_reason_desc">
                        Học tiếng Anh cho người mất gốc để lấy lại căn bản tiếng Anh.
                    </div>
                </div>



                <!-- Item -->
                <div class="home_banner_2_reason_item">
                    <div class="home_banner_2_reason_title">
                        THI CHỨNG CHỈ CAMBRIDGE
                    </div>
                    <div class="home_banner_2_reason_desc">
                        Học sinh tiểu học, THCS thi chứng chỉ Starters, Movers, Flyers, KET, PET… xét tuyển trường
                        chuyên, lớp tăng cường…
                    </div>
                </div>
                <div class="home_banner_2_reason_item">
                    <div class="home_banner_2_reason_title">
                        LẤY LẠI CĂN BẢN TIẾNG ANH
                    </div>
                    <div class="home_banner_2_reason_desc">
                        Học tiếng Anh cho người mất gốc để lấy lại căn bản tiếng Anh.
                    </div>
                </div>
            </div>


            <div class="clear_space_25"></div>
            <div class="clear_space_25"></div>
            <!--  -->

        </section>
        <!-- ================Home banner 3======================== -->
        <section class="home_banner_3">
            <div class="home_banner_3_inner middle_content">
                <div class="clear_space_25"></div>
                <h2 class="home_banner_3_inner_title">
                    TIẾNG ANH CHUẨN QUỐC TẾ <br>
                    DÀNH CHO MỌI LỨA TUỔI
                </h2>
            </div>
            <div class="home_banner_3_customers_wrapper">
                <div class="home_banner_3_customers_top">
                    <div class="home_banner_3_customers_top_wrap">
                        <div class="home_banner_3_customers_top_item">
                            <p>TRẺ EM VÀ THANH THIẾU NIÊN (04-15 TUỔI)</p>
                        </div>
                    </div>

                    <div class="home_banner_3_customers_top_item">
                    </div>
                    <div class="home_banner_3_customers_top_wrap">
                        <div class="home_banner_3_customers_top_item">
                            <p>SINH VIÊN</p>
                        </div>
                    </div>
                </div>
                <div class="home_banner_3_customers_middle">
                    <div class="home_banner_3_customers_middle_wrapper">
                        <div class="home_banner_3_customers_middle_content">
                            <div class="home_banner_3_customers_content">
                                <p>AI HỌC TIẾNG ANH TẠI TRUNG TÂM VUS?</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="home_banner_3_customers_top">
                    <div class="home_banner_3_customers_top_wrap">
                        <div class="home_banner_3_customers_top_item">
                            <p>TRẺ EM VÀ THANH THIẾU NIÊN (04-15 TUỔI)</p>
                        </div>
                    </div>

                    <div class="home_banner_3_customers_top_item">
                    </div>
                    <div class="home_banner_3_customers_top_wrap">
                        <div class="home_banner_3_customers_top_item">
                            <p>SINH VIÊN</p>
                        </div>
                    </div>
                </div>
                <div class="clear_space_25"></div>
                <div class="home_banner_3_customers_bottom">
                    <div class="home_banner_3_customers_top_item">
                        <p>NGƯỜI ĐI LÀM BẬN RỘN</p>
                    </div>
                </div>
            </div>
            <div class="clear_space_25"></div>
            <div class="clear_space_25"></div>
        </section>
        <section class="home_banner_4">
            <div class="home_banner_4_inner middle_content">
                <div class="clear_space_25"></div>
                <div class="clear_space_25"></div>
                <div class="home_banner_4_top">
                    <h2 class="home_banner_4_inner_title">
                        ĐA DẠNG KHÓA HỌC DÀNH CHO MỌI ĐỘ TUỔI TẠI VUS
                    </h2>
                    <div class="clear_space_25"></div>
                    <div class="home_banner_4_top_content">
                        Với chương trình học đa dạng, được thiết kế cá nhân hóa, tại VUS cho dù bạn đang ở cấp độ nào,
                        độ tuổi nào cũng dễ dàng lựa chọn khóa học tiếng Anh phù hợp cho riêng mình.
                    </div>
                </div>

                <div class="home_banner_4_bottom">
                    <div class="home_banner_4_bottom_item_wrap">
                        <div class="home_banner_4_bottom_item">
                            <div class="home_banner_4_bottom_image">
                                <img src="../assets/images/home_05.png" alt="" srcset="">
                            </div>
                            <div class="home_banner_4_desc">
                                <div class="home_banner_4_desc_wrap">
                                    <h4 class="home_banner_4_desc_title">
                                        TIẾNG ANH CHO BÉ MẪU GIÁO
                                    </h4>
                                    <div class="home_banner_4_desc_content">
                                        Chương trình tiếng Anh cho bé Mẫu giáo được thiết kế giúp các bé thẩm thấu Anh
                                        ngữ tự nhiên thông qua phương pháp học qua vui chơi. Qua đó, hình thành tình yêu
                                        Anh ngữ ngay từ giai đoạn vàng học ngôn ngữ - từ 4 tuổi.
                                    </div>
                                    <a href="#" class="home_banner_4_button">
                                        <span>Tư vấn ngay</span>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="home_banner_4_bottom_item_wrap">
                        <div class="home_banner_4_bottom_item">
                            <div class="home_banner_4_bottom_image">
                                <img src="../assets/images/home_05.png" alt="" srcset="">
                            </div>
                            <div class="home_banner_4_desc">
                                <div class="home_banner_4_desc_wrap">
                                    <h4 class="home_banner_4_desc_title">
                                        TIẾNG ANH CHO BÉ MẪU GIÁO
                                    </h4>
                                    <div class="home_banner_4_desc_content">
                                        Chương trình tiếng Anh cho bé Mẫu giáo được thiết kế giúp các bé thẩm thấu
                                        Anh
                                        ngữ tự nhiên thông qua phương pháp học qua vui chơi. Qua đó, hình thành tình
                                        yêu
                                        Anh ngữ ngay từ giai đoạn vàng học ngôn ngữ - từ 4 tuổi.
                                    </div>
                                    <a href="#" class="home_banner_4_button">
                                        <span> Tư vấn ngay </span>
                                    </a>

                                </div>
                            </div>

                        </div>
                    </div>



                    <div class="home_banner_4_bottom_item_wrap">
                        <div class="home_banner_4_bottom_item">
                            <div class="home_banner_4_bottom_image">
                                <img src="../assets/images/home_05.png" alt="" srcset="">
                            </div>
                            <div class="home_banner_4_desc">
                                <div class="home_banner_4_desc_wrap">
                                    <h4 class="home_banner_4_desc_title">
                                        TIẾNG ANH CHO BÉ MẪU GIÁO
                                    </h4>
                                    <div class="home_banner_4_desc_content">
                                        Chương trình tiếng Anh cho bé Mẫu giáo được thiết kế giúp các bé thẩm thấu
                                        Anh
                                        ngữ tự nhiên thông qua phương pháp học qua vui chơi. Qua đó, hình thành tình
                                        yêu
                                        Anh ngữ ngay từ giai đoạn vàng học ngôn ngữ - từ 4 tuổi.
                                    </div>
                                    <a href="#" class="home_banner_4_button">
                                        <span> Tư vấn ngay </span>
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="home_banner_4_bottom_item_wrap">
                        <div class="home_banner_4_bottom_item">
                            <div class="home_banner_4_bottom_image">
                                <img src="../assets/images/home_05.png" alt="" srcset="">
                            </div>
                            <div class="home_banner_4_desc">
                                <div class="home_banner_4_desc_wrap">
                                    <h4 class="home_banner_4_desc_title">
                                        TIẾNG ANH CHO BÉ MẪU GIÁO
                                    </h4>
                                    <div class="home_banner_4_desc_content">
                                        Chương trình tiếng Anh cho bé Mẫu giáo được thiết kế giúp các bé thẩm thấu
                                        Anh
                                        ngữ tự nhiên thông qua phương pháp học qua vui chơi. Qua đó, hình thành tình
                                        yêu
                                        Anh ngữ ngay từ giai đoạn vàng học ngôn ngữ - từ 4 tuổi.
                                    </div>
                                    <a href="#" class="home_banner_4_button">
                                        <span> Tư vấn ngay </span>
                                    </a>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="home_banner_4_bottom_item_wrap">
                        <div class="home_banner_4_bottom_item">
                            <div class="home_banner_4_bottom_image">
                                <img src="../assets/images/home_05.png" alt="" srcset="">
                            </div>
                            <div class="home_banner_4_desc">
                                <div class="home_banner_4_desc_wrap">
                                    <h4 class="home_banner_4_desc_title">
                                        TIẾNG ANH CHO BÉ MẪU GIÁO
                                    </h4>
                                    <div class="home_banner_4_desc_content">
                                        Chương trình tiếng Anh cho bé Mẫu giáo được thiết kế giúp các bé thẩm thấu
                                        Anh
                                        ngữ tự nhiên thông qua phương pháp học qua vui chơi. Qua đó, hình thành tình
                                        yêu
                                        Anh ngữ ngay từ giai đoạn vàng học ngôn ngữ - từ 4 tuổi.
                                    </div>
                                    <a href="#" class="home_banner_4_button">
                                        <span> Tư vấn ngay </span>
                                    </a>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="home_banner_4_bottom_item_wrap">
                        <div class="home_banner_4_bottom_item">
                            <div class="home_banner_4_bottom_image">
                                <img src="../assets/images/home_05.png" alt="" srcset="">

                            </div>
                            <div class="home_banner_4_desc">
                                <div class="home_banner_4_desc_wrap">
                                    <h4 class="home_banner_4_desc_title">
                                        TIẾNG ANH CHO BÉ MẪU GIÁO
                                    </h4>
                                    <div class="home_banner_4_desc_content">
                                        Chương trình tiếng Anh cho bé Mẫu giáo được thiết kế giúp các bé thẩm thấu
                                        Anh
                                        ngữ tự nhiên thông qua phương pháp học qua vui chơi. Qua đó, hình thành tình
                                        yêu
                                        Anh ngữ ngay từ giai đoạn vàng học ngôn ngữ - từ 4 tuổi.
                                    </div>
                                    <a href="#" class="home_banner_4_button">
                                        <span> Tư vấn ngay </span>
                                    </a>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="clear_space_25"></div>
            </div>

        </section>


        <section class="home_banner_5">
            <div class="home_banner_5_inner middle_content">
                <h2 class="home_banner_5_inner_title">
                    ĐĂNG KÍ NHẬN TƯ VẤN
                </h2>
                <div class="home_banner_5_inner_note">
                    Vui lòng để lại thông tin phía dưới để được tư vấn miễn phí.
                </div>
                <div class="home_banner_5_form_wrap">
                    <div class="clear_space_25"></div>
                    <div class="home_banner_5_form">
                        <div class="home_banner_5_form_input">
                            <label class="home_banner_5_form_input_placeholder" for="">Họ tên </label>
                            <input type="text" class="home_banner_5__input">
                        </div>
                        <div class="home_banner_5_form_input">
                            <label class="home_banner_5_form_input_placeholder" for="">điện thoại </label>
                            <input type="text" class="home_banner_5__input">
                        </div>
                        <div class="home_banner_5_form_input">
                            <label class="home_banner_5_form_input_placeholder" for="">Email </label>
                            <input type="text" class="home_banner_5__input">
                        </div>
                        <div class="home_banner_5_form_input">
                            <label class="home_banner_5_form_input_placeholder" for="">Thành phố</label>
                            <input type="text" class="home_banner_5__input">
                        </div>
                        <div class="home_banner_5_form_input">
                            <label class="home_banner_5_form_input_placeholder" for="">khóa học </label>
                            <input type="text" class="home_banner_5__input">
                        </div>
                    </div>
                    <div class="home_banner_5_button">
                        <button>
                            Đăng ký
                        </button>
                    </div>
                    <div class="home_banner_5_desc">
                        <p>

                            Bằng việc đăng ký thông tin, bạn đồng ý cho phép VUS liên lạc thông
                            qua các hình thức: cuộc gọi, tin
                            nhắn, email nhằm mục đích tư vấn các chương trình Anh ngữ & nghiên
                            cứu thị trường.

                        </p>
                    </div>
                </div>

            </div>
        </section>


        <section class="home_banner_6">
            <div class="home_banner_6_inner middle_content">
                <div class="clear_space_25"></div>
                <div class="clear_space_25"></div>


                <div class="home_banner_6_top">
                    <h1 class="home_banner_6_inner_title">
                        Giới thiệu về trung tâm VUS
                        <br>
                        môi trường chuẩn quốc tế - chất lượng hàng đầu Việt Nam
                    </h1>
                    <div class="home_banner_4_top_content">
                        Trung tâm Anh Văn Hội Việt Mỹ VUS là lựa chọn hàng đầu, đáng tin cậy cho mọi lứa tuổi học viên.
                    </div>
                </div>
                <div class="home_banner_6_bottom">
                    <div class="home_banner_6_achie">
                        <div class="home_banner_6_achie_item">
                            <p>
                                <strong>GẦN 30 NĂM KINH NGHIỆM</strong><br>
                                DẠY TIẾNG ANH
                            </p>
                        </div>
                        <div class="home_banner_6_achie_item">
                            <p>
                                <strong>86+ CƠ SỞ</strong><br>
                                TRÊN TOÀN QUỐC
                            </p>
                        </div>

                    </div>

                    <div class="home_banner_6_achie">
                        <div class="home_banner_6_achie_item">
                            <p>
                                <strong>GẦN 30 NĂM KINH NGHIỆM</strong><br>
                                DẠY TIẾNG ANH
                            </p>
                        </div>
                        <div class="home_banner_6_achie_item">
                            <p>
                                <strong>86+ CƠ SỞ</strong><br>
                                TRÊN TOÀN QUỐC
                            </p>
                        </div>
                    </div>

                    <div class="home_banner_6_achie">
                        <div class="home_banner_6_achie_item">
                            <p>
                                <strong>GẦN 30 NĂM KINH NGHIỆM</strong><br>
                                DẠY TIẾNG ANH
                            </p>
                        </div>
                        <div class="home_banner_6_achie_item">
                            <p>
                                <strong>86+ CƠ SỞ</strong><br>
                                TRÊN TOÀN QUỐC
                            </p>
                        </div>
                    </div>

                    <div class="home_banner_6_achie_item home_banner_6_last">
                        <p>
                            TIN CHỌN BỞI<br>
                            <strong class="home_strong">2.700.000+ GIA ĐÌNH VIỆT NAM</strong>

                        </p>
                    </div>
                    <div class="home_banner_6_logo">
                        <img src="../assets/images/home_favicon.svg" alt="" srcset="">
                    </div>

                </div>

            </div>
        </section>

        <section class="home_banner_7">
            <div class="home_banner_7_inner middle_content">
                <div class="clear_space_25"></div>
                <div class="clear_space_25"></div>


                <div class="home_banner_7_top">
                    <h1 class="home_banner_7_inner_title">
                        LỢI ÍCH KHI HỌC ANH NGỮ TẠI VUS
                    </h1>
                </div>
                <div class="home_banner_7_benefit">
                    <div class="home_banner_7_benefit_item_wrap">
                        <div class="home_banner_7_benefit_item home_banner_7_white">
                            <h6>
                                VỮNG TOÀN DIỆN 4 KỸ NĂNG
                            </h6>
                            <p>
                                Phương pháp giảng dạy luôn được cập nhật, sinh động giúp học viên phát triển toàn vẹn 4
                                kỹ năng Anh ngữ.
                            </p>
                        </div>
                    </div>

                    <div class="home_banner_7_benefit_item_wrap">
                        <div class="home_banner_7_benefit_item home_banner_7_blue">
                            <h6>
                                HỌC CÙNG GIÁO TRÌNH QUỐC TẾ ĐỘC QUYỀN
                            </h6>
                            <p>
                                VUS hợp tác với các Nhà xuất bản hàng đầu thế giới như National Geographic Learning,
                                Oxford University Press, MacMillan… được biên soạn riêng cho học viên VUS.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="home_banner_7_benefit">
                    <div class="home_banner_7_benefit_item_wrap">
                        <div class="home_banner_7_benefit_item home_banner_7_blue">
                            <h6>
                                VỮNG TOÀN DIỆN 4 KỸ NĂNG
                            </h6>
                            <p>
                                Phương pháp giảng dạy luôn được cập nhật, sinh động giúp học viên phát triển toàn vẹn 4
                                kỹ năng Anh ngữ.
                            </p>
                        </div>
                    </div>

                    <div class="home_banner_7_benefit_item_wrap">
                        <div class="home_banner_7_benefit_item home_banner_7_white">
                            <h6>
                                HỌC CÙNG GIÁO TRÌNH QUỐC TẾ ĐỘC QUYỀN
                            </h6>
                            <p>
                                VUS hợp tác với các Nhà xuất bản hàng đầu thế giới như National Geographic Learning,
                                Oxford University Press, MacMillan… được biên soạn riêng cho học viên VUS.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="home_banner_7_benefit">
                    <div class="home_banner_7_benefit_item_wrap">
                        <div class="home_banner_7_benefit_item home_banner_7_white">
                            <h6>
                                VỮNG TOÀN DIỆN 4 KỸ NĂNG
                            </h6>
                            <p>
                                Phương pháp giảng dạy luôn được cập nhật, sinh động giúp học viên phát triển toàn vẹn 4
                                kỹ năng Anh ngữ.
                            </p>
                        </div>
                    </div>

                    <div class="home_banner_7_benefit_item_wrap">
                        <div class="home_banner_7_benefit_item home_banner_7_blue">
                            <h6>
                                HỌC CÙNG GIÁO TRÌNH QUỐC TẾ ĐỘC QUYỀN
                            </h6>
                            <p>
                                VUS hợp tác với các Nhà xuất bản hàng đầu thế giới như National Geographic Learning,
                                Oxford University Press, MacMillan… được biên soạn riêng cho học viên VUS.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="home_banner_7_benefit">
                    <div class="home_banner_7_benefit_item_wrap">
                        <div class="home_banner_7_benefit_item home_banner_7_blue">
                            <h6>
                                VỮNG TOÀN DIỆN 4 KỸ NĂNG
                            </h6>
                            <p>
                                Phương pháp giảng dạy luôn được cập nhật, sinh động giúp học viên phát triển toàn vẹn 4
                                kỹ năng Anh ngữ.
                            </p>
                        </div>
                    </div>

                    <div class="home_banner_7_benefit_item_wrap">
                        <div class="home_banner_7_benefit_item home_banner_7_white">
                            <h6>
                                HỌC CÙNG GIÁO TRÌNH QUỐC TẾ ĐỘC QUYỀN
                            </h6>
                            <p>
                                VUS hợp tác với các Nhà xuất bản hàng đầu thế giới như National Geographic Learning,
                                Oxford University Press, MacMillan… được biên soạn riêng cho học viên VUS.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="home_banner_8">
            <div class="home_banner_8_inner middle_content">
                <div class="home_banner_8_top">
                    <h1 class="home_banner_8_inner_title">
                        LỢI ÍCH KHI HỌC ANH NGỮ TẠI VUS
                    </h1>
                    
                </div>
            </div>
        </section>
    </main>
</body>

</html>