<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUS Anh Văn Hội Việt Mỹ</title>
    <link rel="stylesheet" href="../assets/css/home_index.css">
</head>
<body>
    <header class="home_header_wrapper">
        <div class="home_header_container">
            <div class="home_header_logo">
                <img src="../assets/images/home_logo.svg" alt="">
            </div>
            <ul class="home_header_nav">
                <li class="home_header_nav_link">
                    <a href="#" title="SUPER SUMMER 2024!">
                        <span class="home_link"><i></i>
                            SUPER SUMMER 2024!</span>

                    </a>
                </li>
                <li class="home_header_nav_tel">
                   <a href="#">
                    <span class="home_tel">(028) 7308 3333</span>
                   </a>
                   
                </li>
            </ul>
        </div>
    </header>

    <main>
        <section class="home_banner_ads">
            <div class="home_banner_ads_wrapper">
                <a href="">
                    <img src="../assets/images/home_04.png" alt="">
                </a>
            </div>
        </section>
        <section class="home_banner_2">
            <div class="home_banner_2_inner middle_content">
                <div class="clear_space_25"></div> 
                <div class="clear_space_25"></div> 
                <div >
                    <h2 class="home_banner_2_inner_title">
                        ĐÁP ỨNG ĐA DẠNG LÝ DO<br>
                        HỌC TIẾNG ANH
                    </h2>   
                </div>
            </div>
            <div class="clear_space_25"></div> 
            <div class="clear_space_25"></div> 

            <div class="home_banner_2_reason middle_content">
                <!-- Item -->
                <div class="home_banner_2_reason_item">
                    <div class="home_banner_2_reason_title">
                        THI CHỨNG CHỈ CAMBRIDGE 
                    </div>
                    <div class="home_banner_2_reason_desc">
                        Học sinh tiểu học, THCS thi chứng chỉ Starters, Movers, Flyers, KET, PET… xét tuyển trường chuyên, lớp tăng cường…
                    </div>
                </div>

                <div class="home_banner_2_reason_item">
                    <div class="home_banner_2_reason_title">
                        LẤY LẠI CĂN BẢN TIẾNG ANH
                    </div>
                    <div class="home_banner_2_reason_desc">
                        Học tiếng Anh cho người mất gốc để lấy lại căn bản tiếng Anh.
                    </div>
                </div>
        
                <!-- Item -->
                <div class="home_banner_2_reason_item">
                    <div class="home_banner_2_reason_title">
                        THI CHỨNG CHỈ CAMBRIDGE
                    </div>
                    <div class="home_banner_2_reason_desc">
                        Học sinh tiểu học, THCS thi chứng chỉ Starters, Movers, Flyers, KET, PET… xét tuyển trường chuyên, lớp tăng cường…
                    </div>
                </div>
                <div class="home_banner_2_reason_item">
                    <div class="home_banner_2_reason_title">
                        LẤY LẠI CĂN BẢN TIẾNG ANH
                    </div>
                    <div class="home_banner_2_reason_desc">
                        Học tiếng Anh cho người mất gốc để lấy lại căn bản tiếng Anh.
                    </div>
                </div>
       

          
                <!-- Item -->
                <div class="home_banner_2_reason_item">
                    <div class="home_banner_2_reason_title">
                        THI CHỨNG CHỈ CAMBRIDGE
                    </div>
                    <div class="home_banner_2_reason_desc">
                        Học sinh tiểu học, THCS thi chứng chỉ Starters, Movers, Flyers, KET, PET… xét tuyển trường chuyên, lớp tăng cường…
                    </div>
                </div>
                <div class="home_banner_2_reason_item">
                    <div class="home_banner_2_reason_title">
                        LẤY LẠI CĂN BẢN TIẾNG ANH
                    </div>
                    <div class="home_banner_2_reason_desc">
                        Học tiếng Anh cho người mất gốc để lấy lại căn bản tiếng Anh.
                    </div>
                </div>
            </div>
            <div class="clear_space_25"></div> 
            <div class="clear_space_25"></div> 
            <!--  -->

        </section>
    </main>
</body>
</html>