<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Product</title>
</head>
<body>
    <header class="shadow">
        <div class="navbar__mobile">
            <ion-icon type="menu-outline"></ion-icon>
        </div>
        <div class="navbar__mobile--list">
            <a href="#">Giỏ Hàng</a>
            <a href="/templates/template-home-index.html">Trang chủ</a>
            <a onclick="categoryBlog()">Danh Mục Bài Viết <ion-icon type="chevron-up-outline"></ion-icon><ion-icon type="chevron-down-outline"></ion-icon></a>
                <div class="navbar__mobile--category__blog">
                    <a href="#">Danh mục bài viết 1</a>
                    <a href="#">Danh mục bài viết 1</a>
                    <a href="#">Danh mục bài viết 1</a>
                    <a href="#">Danh mục bài viết 1</a>
                </div>
            <a id="header__category--product" onclick="categoryProduct()" >Danh Mục Sản Phẩm <ion-icon type="chevron-up-outline"></ion-icon><ion-icon type="chevron-down-outline"></ion-icon></a>
            <div class="navbar__mobile--category__product">
                <a href="#">Danh mục Sản Phẩm 1</a>
                <a href="#">Danh mục Sản Phẩm 1</a>
                <a href="#">Danh mục Sản Phẩm 1</a>
                <a href="#">Danh mục Sản Phẩm 1</a>
            </div>
            <a href="#">Liên Hệ</a>
        </div>
        <div class="header__blur">

        </div>
        <div class="head__logo">
            <img src="/assets/images/img1.svg" alt="img" />
        </div>
        <div class="head__navbar">
            <a href="#">
                <ion-icon type="home-outline"></ion-icon>
                <span>trang chủ</span>
            </a>
            <a href="#">
                <ion-icon type="call"></ion-icon>
                <span>(028) 7308 3333</span>
            </a>
        </div>
    </header>

</body>
</html>