<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUS - Super Summer 2024</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon_192.png">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="../assets/css/home-summer.css">
</head>
<body>
    <header class="shadow">
        <div class="head__logo"><img src="/assets/images/img1.svg" alt="img"></div>
        <div class="head__navbar">
            <a href="#">
                <ion-icon name="home-outline"></ion-icon>
                <span>trang chủ</span>
            </a>
            <a href="#">
                <ion-icon name="call"></ion-icon>
                <span>(028) 7308 3333</span>
            </a>
        </div>
    </header>
    <main>
        <!-- banner home relative  -->
        <section class="home__summer--relative">
            <a href="#">
                <img src="/assets/images/img04.png" alt="img__home">
            </a>
        </section>
        <!-- banner home menu  -->
        <section class="home__summer--menu">
            <div class="home__summer--menu__container">
                <div class="home__summer--menu__box--content">
                    <a href="#">
                        <span>Khóa học tiếng Anh hè</span>
                        <span>dành cho trẻ từ 6-11 tuổi</span>
                    </a>
                    <a href="#">
                        <span>Khóa học tiếng Anh hè</span>
                        <span>dành cho trẻ từ 11-15 tuổi</span>
                    </a>
                </div>
            </div>
            <img src="/assets/images/img05.png" alt="img">
        </section>
        <!-- banner home menu  -->
        <section class="home__summer--discover">
            <div class="home__summer--discover__container">
                <div class="home__summer--discover__box--content">
                    <div class="home__summer--discover__box--content__item">
                        <p>Bố mẹ thân mến,</p>
                        <p>Với mong muốn mang đến nguồn cảm hứng vô tận trên hành trình học hỏi và cùng con trở thành một công dân toàn cầu thế hệ mới, chương trình tiếng Anh hè Super Summer 2024 sẽ là nơi con bước vào hành trình xuyên Việt để trau dồi Anh ngữ qua 8 tuần trải nghiệm chỉ có tại VUS!</p>
                        <a href="#">Cùng khám phá ngay!</a>
                    </div>
                    <div class="home__summer--discover__box--content__item">
                        <img src="/assets/images/img06.png" alt="img">
                    </div>
                </div>
            </div>
            <img src="/assets/images/img-discover.png" alt="img">
        </section>
    </main>
</body>
</html>